<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/index/index.css">
</head>
<body>
{% include 'common/header.html' %}
<div id="container" class="container">
    <div class="classify">
        <div class="item" v-for="(item,index) in classList" :class="[classifySelectIndex==index?'active':'']" v-text="item.name" @click="selectClassify(item.id,index)"></div>
    </div>
    <div v-for="item in articleLists" class="article">
        <a :href="'/articleDetail'+item.id" v-text="item.title" class="title"></a>
        <div v-text="item.description" class="description"></div>
        <div class="info">
            <a :href="'/user'+item.author_id" v-text="item.author__name"></a>
            <span>发布于 2018-08-22 15:02</span>
            <span>评论</span>
            <span>阅读</span>
        </div>
    </div>
    
</div>

<script>
    new Vue({
        el: "#container",
        data: {
            classList:[],
            articleLists:[],
            classifySelectIndex:0,
        },
        created: function () {
            this.fetchClassify();
            this.fetchArticles();
        },
        methods: {
            fetchClassify: function () {
                var _me = this;
                $.ajax('/classify').then(function (res) {
                    res = JSON.parse(res);
                    _me.classList = res;
                    _me.classList.unshift({id:'',name:'全部'})
                })

            },
            fetchArticles:function(){
              var _me = this;
              $.ajax('/articles').then(function (res) {
                  res = JSON.parse(res)
                  _me.articleLists = res;
              })
            },
            selectClassify:function (id,index) {
                var _me = this;
                this.classifySelectIndex = index;
                $.ajax({
                    url:'/articles',
                    data:{
                        classify_id:id
                    }
                }).then(function(res){
                    res = JSON.parse(res);
                    _me.articleLists = res;
                })
            }
        }
    })


</script>

</body>
</html>