<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>头部</title>
    <link href="/static/css/reset.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/header.css">
</head>

<body>
    <div class="header" id="header">
        <div class="logo">
            <img src="/static/images/logo_small.gif" alt="">
        </div>
        <div class="right">
            <div class="logined">

            </div>
            <div class="unlogin">
                <span @click="loginDialogVisible = true">登录</span>
                <span @register>注册</span>
            </div>
        </div>

        <el-dialog title="登录" :visible.sync="loginDialogVisible" width="30%">
            <el-form :model="loginForm" :rule="loginRule">
                <el-form-item label="用户名" :label-width="formLabelWidth">
                    <el-input v-model="loginForm.name" placeholder="请输入用户名"></el-input>
                </el-form-item>
                <el-form-item label="密码" :label-width="formLabelWidth">
                    <el-input v-model="loginForm.password" type="password"  placeholder="请输入密码"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="loginDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="login">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="/static/js/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: "#header",
        data: {
            loginDialogVisible: false,
            registerDialogVisible: false,
            formLabelWidth: '70px',
            loginForm:{
                name:'',
                password:''
            },
            loginRule:{
                name:[{require:true}],
                password:[{require:true}]
            }
        },
        methods: {
            login:function(){
                var _me = this;
                loginDialogVisible = false;
                $.ajax({
                    url:"/login",
                    method:'post',
                    data:_me.loginForm
                }).then(function(res) {
                    
                })
            }
        }
    })
</script>

</html>