<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>头部</title>
    <link href="/static/css/reset.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/header.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="/static/images/logo_small.gif" alt="">
        </div>
        <div class="right">
             <div class="logined">

            </div>
            <div class="unlogin">
                <span>登录</span>
                <span>注册</span>
            </div>
        </div>

    </div>
</body>
</html>