<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>头部</title>
    <link href="/static/css/reset.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/header.css">
</head>

<body>
    <div class="header" id="header">
        <div class="logo">
            <img src="/static/images/logo_small.gif" alt="">
        </div>
        <div class="right">
            <div class="logined">

            </div>
            <div class="unlogin">
                <span @click="loginDialogVisible = true">登录</span>
                <span @click="registerDialogVisible = true">注册</span>
            </div>
        </div>

        <el-dialog title="登录" :visible.sync="loginDialogVisible" width="30%">
            <el-form :model="loginForm" :rule="loginRule" ref="loginRule">
                <el-form-item label="用户名" :label-width="formLabelWidth">
                    <el-input v-model="loginForm.name" placeholder="请输入用户名"></el-input>
                </el-form-item>
                <el-form-item label="密码" :label-width="formLabelWidth">
                    <el-input v-model="loginForm.password" type="password" placeholder="请输入密码"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="loginDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="login">确 定</el-button>
            </div>
        </el-dialog>
        <el-dialog title="注册" :visible.sync="registerDialogVisible" width="30%">
            <el-form :model="registerForm" :rule="registerRule" ref="registerRule">
                <el-form-item label="用户名" :label-width="formLabelWidth">
                    <el-input v-model="registerForm.name" placeholder="请输入用户名"></el-input>
                </el-form-item>
                <el-form-item label="邮箱" :label-width="formLabelWidth">
                    <el-input v-model="registerForm.email" placeholder="请输入邮箱"></el-input>
                </el-form-item>
                <el-form-item label="手机号" :label-width="formLabelWidth">
                    <el-input v-model="registerForm.mobile_phone" placeholder="请输入手机号"></el-input>
                </el-form-item>
                <el-form-item label="密码" :label-width="formLabelWidth">
                    <el-input v-model="registerForm.password" type="password" placeholder="请输入密码"></el-input>
                </el-form-item>
                <el-form-item label="确认密码" :label-width="formLabelWidth">
                    <el-input v-model="registerForm.again_pwd" type="password" placeholder="请输入确认密码"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="registerDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="register">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/js-cookie/latest/js.cookie.js"></script>
<script src="/static/js/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: "#header",
        data: {
            loginDialogVisible: false,
            registerDialogVisible: false,
            formLabelWidth: '70px',
            loginForm: {
                name: '',
                password: ''
            },
            loginRule: {
                name: [{ required: true, message: '请输入名称', trigger: 'blur' }],
                password: [{ required: true, message: '请输入密码', trigger: 'blur' }]
            },
            registerForm:{
                name:'',
                email:'',
                mobile_phone:'',
                password: '',
                again_pwd:'',
            },
            registerRule: {
                name: [{ required: true, message: '请输入名称', trigger: 'blur' }],
                email: [{ required: true, message: '请输入邮箱', trigger: 'blur' }],
                password: [{ required: true, message: '请输入密码', trigger: 'blur' }],
                again_pwd: [{ required: true, message: '请再次输入密码', trigger: 'blur' }],
            },
        },
        methods: {
            login: function () {
                var _me = this;
                this.$refs['loginRule'].validate((valid) => {
                    if (valid) {
                        $.ajax({
                            url: "/login",
                            method: 'POST',
                            headers: { "X-CSRFToken": Cookies.get('csrftoken') },
                            data: _me.loginForm
                        }).then(function (res) {
                            res = JSON.parse(res);
                            if (res.code == 0) {
                                _me.$message.success(res.msg);
                            } else {
                                _me.$message.error(res.msg);
                            }
                            _me.loginDialogVisible = false;
                        })
                    }
                })
            },
            register: function () {
                var _me = this;
                this.$refs['registerRule'].validate((valid) => {
                    if (valid) {
                        $.ajax({
                            url: "/register",
                            method: 'POST',
                            headers: { "X-CSRFToken": Cookies.get('csrftoken') },
                            data: _me.registerForm
                        }).then(function (res) {
                            res = JSON.parse(res);
                            if (res.code == 0) {
                                _me.$message.success(res.msg);
                            } else {
                                _me.$message.error(res.msg);
                            }
                            _me.registerDialogVisible = false;
                        })
                    }
                })
            },
        }
    })
</script>

</html>